a{
    text-decoration: none;
}
.letblock{
    font-size: 28px;
    width: 65px;
    height: 65px;
    margin: 15px;
    text-align: center;
    color: white;
}
.vow{
    background-color: black;
}
.ltr{
    float: left;
}
.rtl{
    float: right;
}
.scrblock{
    float: left;
    width: 100%;
}
.info{
    width: 100%;
    height: 200px;
    background-color: white;
    color: black;
    font-size: 24px;
}
body {
    background-color: #43c2c1;
}
.c{
    background-color: #ff3300;
}
.v{
    background-color: #fc4b54;
}
.o{
    background-color: #fd882d;
}
span{
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
span[title]:hover:after{
    content: attr(title);
    position: absolute;
    top: 100%;
    right: 0px;
    color: red;
    font-size: 12px;
}
.titl{
    font-size: 48px;
    color: white;
}
.outside{
    color:black;
    font-size: 20px;
}
.vowels{
    background-color: #b30e50;
}
.ipalink:link {
    color: blue;
}
.ipalink:visited{
    color: blueviolet;
}
.ipalink:hover{
    color: purple;
}
.titl:hover{
    color: black;
}
.c:hover{
    background-color: white;
    color: #ff3300;
}
.v:hover{
    background-color: white;
    color: #fc4b54;
}
.o:hover{
    background-color: white;
    color: #fd882d;
}
.vowels:hover{
    background-color: white;
    color: #b30e50;
}
.scripthead{
    font-size: 60px;
    color: white;
    margin: 10px;
    text-align: center;
    display: block;
}
.scripthead:hover{
    color:black;
}
@font-face {
    font-family: Tifinagh;
    src: url(fontfolder/tifinagh.ttf);
}
#tf{
    font-size: 50px;
    font-family: Tifinagh;
}
@font-face {
    font-family: Lontara;
    src: url(fontfolder/lontara.ttf);
}
#lt{
    font-size: 50px;
    font-family: Lontara;
}
@font-face{
    font-family: Thaana;
    src: url(fontfolder/thaana.ttf);
}
#th{
    font-size: 50px;
    font-family: Thaana;
}
@font-face{
    font-family: Nko;
    src: url(fontfolder/nko.ttf);
}
#nk{
    font-size: 50px;
    font-family: Nko;
}
.chsyll{
    float: left;
    width: 100%;
}
.info p:last-child{
    margin: 0px;
}
.info p:first-child{
    margin: 0px;
}
.extraletters{
    opacity: 0.5;
}
.letblockarea{
    height: 320px;
    overflow: scroll;
    width: 100%;
}
.letblockarea::-webkit-scrollbar {
    width: 0px;
}
.loc{
    margin-top: -20px;
}
.loc .titl{
    font-size: 24px;
}
.numerals:hover{
    color: black;
}
